<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Show | Simpler application</title>
  </head>
  <body>
    <h1><%= @test.title %></h1>
    <p><%= @test.level %></p>
  </body>
</html>